<html>
    <head>
        <script>
            var x=1;
            function move() {
                var svg = document.getElementById("chart");
                var svgDoc = svg.contentDocument; //get the inner DOM of chart.svg
                var moon = svgDoc.getElementById('Moon');
                if (x==1){
                    moon.x.baseVal.value += 50;
                    x=0;
                }else{
                    moon.x.baseVal.value += -50;
                    x=1;
                }
                
            }
        </script>
    </head>
    <body>
        <div style="width:800px; margin:0 auto;">
            <object  id="chart" data="{{ url_for('static', filename='img/chart.svg') }}" type="image/svg+xml" align="middle">
                
            </object>
        </div>
        
        <input id="button1" type="button" value="Move moon"
                    onclick="move()"/>
    </body>

</html>
