<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <div id="container" style="border-style:solid;border-width:0px;"></div>
        
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/libs/kinetic-v5.1.0.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/libs/kinetic-v5.1.0.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </body>
</html> 
